.react-resizable-handle {
    display: block;
    /*background-color: #37414b;*/
    background-color: white;
    opacity: 10%;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.4s;
}

.resize-horizontal {
    display: flex;
    flex-direction: row;
}

.react-resizable-handle:hover {
    opacity: 90%;
    box-shadow: rgba(255, 255, 255, 0.33) 0 0 2px 1px;
}

.react-resizable-handle-s {
    display: block;
    height: 4px;
    width: 100%;
    cursor: row-resize;
}

.react-resizable-handle-e {
    width: 6px;
    height: 100%;
    cursor: col-resize;
}
