.react-draggable-transparent-selection .iframe-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: theme('colors.neutral.800');
}

.preview-error {
    position: absolute;
    margin: .5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}
